---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Poster presentations</h2>

<div markdown="1">

- **MLMI 2024:** [Probabilistic 3D Correspondence Prediction from Sparse Unsegmented Images]({{ "/publication/2024-mlmi-3dcorrespondence" | relative_url }}). Poster presentation at the Machine Learning in Medical Imaging workshop at MICCAI.
- **MICCAI 2023:** [Mesh2SSM: From Surface Meshes to Statistical Shape Models of Anatomy]({{ "/publication/2023-miccai-mesh2ssm" | relative_url }}). Poster presentation.
- **University of Utah Undergraduate Research Symposium:** Poster presentation introducing the lab’s research to undergraduate students.

</div>
